In [8]:
import os
import pandas as pd
import numpy as np
import plotly.express as px



os.getcwd()

# !wget  https://www.rijkswaterstaat.nl/apps/geoservices/geodata/dmc/bron/01-01-2010_31-12-2019.zip

'/mnt/c/Users/stijn/OneDrive/Bureaublad/Afstudeerproject'

In [9]:
puntlocatie = pd.read_csv('Verkeersongevallen/01-01-2010_31-12-2019/PGS0112-o-CSV-bestand-J-1-N-J-N/Netwerkgegevens/puntlocaties.txt')

In [10]:
puntlocatie

              FK_VELD5     X_COORD     Y_COORD
0        WVK0139255044   69647.746  427626.998
1        WVK0140207011   70476.791  403619.861
2        WVK0139135003   69542.500  367942.500
3        WVK0139135005   69492.201  367951.000
4        WVK0139135031   69581.733  367863.631
...                ...         ...         ...
2144019  JTE0474291033  237344.000  445954.000
2144020  JTE0278368041  139094.895  484316.265
2144021  JTE0365048030  182700.632  324312.948
2144022  JTE0401048020  200557.407  324201.471
2144023  JTE0316155012  158387.018  377758.394

[2144024 rows x 3 columns]

In [16]:
# # usecols=['WVK_BEGDAT', 'FK_VELD5', 'KLOK_BEG', 'KLOK_END']
# wegvakken = pd.read_csv('Verkeersongevallen/01-01-2010_31-12-2019/PGS0112-o-CSV-bestand-J-1-N-J-N/Netwerkgegevens/wegvakken.txt')

# wegvakken.columns

/home/smwhering/miniconda3/envs/datasc/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (6,7,8,29,31,33,35,37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['WVK_ID', 'WVK_BEGDAT', 'WVK_ENDDAT', 'JTE_ID_BEG', 'JTE_ID_END',
       'WEGBEHSRT', 'WEGNUMMER', 'WEGDEELLTR', 'HECTOLTTR', 'BST_CODE',
       'RPE_CODE', 'RIJRICHTNG', 'STT_TYPE', 'STT_NAAM', 'WPS_NAMNEN',
       'GME_ID', 'GME_NAAM', 'HNRSTRLNKS', 'HNRSTRRHTS', 'E_HNR_LNKS',
       'E_HNR_RHTS', 'L_HNR_LNKS', 'L_HNR_RHTS', 'KLOK_BEG', 'KLOK_END',
       'SLE_TYPE', 'SLE_NUMMER', 'FK_VELD1', 'FK_VELD5', 'ROUTELTR', 'ROUTENR',
       'ROUTELTR2', 'ROUTENR2', 'ROUTELTR3', 'ROUTENR3', 'ROUTELTR4',
       'ROUTENR4', 'WEGNR_HMP'],
      dtype='object')

In [22]:
ongevallen = pd.read_csv('Verkeersongevallen/01-01-2010_31-12-2019/PGS0112-o-CSV-bestand-J-1-N-J-N/Ongevallengegevens/ongevallen.txt')
display(ongevallen.shape)
display(ongevallen.columns)
ongevallen.head()

/home/smwhering/miniconda3/envs/datasc/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (1,2,24,25,29,31,34,35,39,43,47,52,64) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1128636, 66)

Index(['VKL_NUMMER', 'REGNUMMER', 'PVOPGEM', 'DATUM_VKL', 'DAG_CODE',
       'MND_NUMMER', 'JAAR_VKL', 'TIJDSTIP', 'UUR', 'DDL_ID', 'AP3_CODE',
       'AP4_CODE', 'AP5_CODE', 'ANTL_SLA', 'ANTL_DOD', 'ANTL_GZH', 'ANTL_SEH',
       'ANTL_GOV', 'ANTL_PTJ', 'ANTL_TDT', 'MNE_CODE', 'AOL_ID', 'NIVEAUKOP',
       'WSE_ID', 'WSE_AN', 'BEBKOM', 'MAXSNELHD', 'WVL_ID', 'WVG_ID', 'WVG_AN',
       'WDK_ID', 'WDK_AN', 'LGD_ID', 'ZAD_ID', 'WGD_CODE_1', 'WGD_CODE_2',
       'BZD_ID_VM1', 'BZD_ID_VM2', 'BZD_ID_VM3', 'BZD_VM_AN', 'BZD_ID_IF1',
       'BZD_ID_IF2', 'BZD_ID_IF3', 'BZD_IF_AN', 'BZD_ID_TA1', 'BZD_ID_TA2',
       'BZD_ID_TA3', 'BZD_TA_AN', 'JTE_ID', 'WVK_ID', 'HECTOMETER', 'FK_VELD5',
       'HUISNUMMER', 'GME_ID', 'GME_NAAM', 'PVE_CODE', 'PVE_NAAM', 'KDD_NAAM',
       'PLT_NAAM', 'DIENSTCODE', 'DIENSTNAAM', 'DISTRCODE', 'DISTRNAAM',
       'DAGTYPE', 'IND_ALC', 'WEEKNR'],
      dtype='object')

,VKL_NUMMER,REGNUMMER,PVOPGEM,DATUM_VKL,DAG_CODE,MND_NUMMER,JAAR_VKL,TIJDSTIP,UUR,DDL_ID,...,PVE_NAAM,KDD_NAAM,PLT_NAAM,DIENSTCODE,DIENSTNAAM,DISTRCODE,DISTRNAAM,DAGTYPE,IND_ALC,WEEKNR
0,20119069901,2011160315,NaN,NaN,NaN,NaN,2011,NaN,NaN,NaN,...,Gelderland,REGIO GELDERLAND-OV,Regionale Eenheid Oost-Nederland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20119069902,2011160378,NaN,NaN,NaN,NaN,2011,NaN,NaN,NaN,...,Gelderland,REGIO GELDERLAND-OV,Regionale Eenheid Oost-Nederland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20119069903,2011160580,NaN,NaN,NaN,NaN,2011,NaN,NaN,NaN,...,Gelderland,REGIO GELDERLAND-OV,Regionale Eenheid Oost-Nederland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20119069904,2011160733,NaN,NaN,NaN,NaN,2011,NaN,NaN,NaN,...,Gelderland,REGIO GELDERLAND-OV,Regionale Eenheid Oost-Nederland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20119069905,2011017591,NaN,NaN,NaN,NaN,2011,NaN,NaN,NaN,...,Gelderland,REGIO GELDERLAND-OV,Regionale Eenheid Oost-Nederland,NaN,NaN,NaN,NaN,NaN,NaN,NaN